.mat-card {
    margin: 20px;
    min-width: 55vw;
    text-align: left;
}
.mat-checkbox {
    padding: 10px;
}
.mat-raised-button {
            background-color: #ffc107;
            color: black;
            font-weight: bold;
 }