.mat-card {
    margin: 20px;
    min-width: 40vw;
    text-align: left;
}
.mat-raised-button {
    background-color: #ffc107;
    color: black;
    font-weight: bold;
}
.mat-button {
    font-weight: bold;
    padding: 0px;
    color: #ffc107;
}
