#login {
    color: white;
    background-color: darkblue;
}

#register {
    color: black;
    background-color: lightgrey;
}
.home {
    display: flex;
    margin: 150px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
  .home-card {
      padding: 3vh;
  }

  #infoMessage {
    text-align: center;
  }
  
  #welcomeMessage {
      font-family: emoji;
      font-size: xx-large;
  }

  .mat-button-toggle-group {
    display: flex;
    flex-flow: column;
  }
  .mat-card>:last-child:not(.mat-card-footer) {
    margin-bottom: 15px;
  }

  .mat-button{
    min-width: 23vw;
  }