.mat-tab-group {
    ::ng-deep {
        .mat-tab-label-content {
            font-weight: bold;
        }
        #mat-tab-label-0-0, #mat-tab-label-0-1, #mat-tab-label-0-7 {
            min-width: 50px;
        }
    }
}

.mat-card {
    margin: 20px;
    min-width: 80vw;
}
.mat-button {
    font-weight: bold;
}